 		/* general styling rules */
		*{text-decoration: none; margin: 0; padding: 0; max-width: 100%;}
		html,body{margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; color: #415066; font-size: 16px;}
		img{border: none;}
		li{list-style-type: none;}
		div{display: block; margin: 0; padding: 0;}
		u{text-decoration: underline;}
		s{text-decoration: line-through;}
		i, .italic{font-style: italic;}
		b, .bold{font-weight: bold;}
		a:link, a:visited, a:active{text-decoration: none; color: inherit;}
		input:focus, select:focus, textarea:focus, button:focus{outline: none;}
		.Fright, .constantFright{float: right;}
		.Fleft, .constantFleft{float: left;}
		.clear{clear: both;}
		.flex-container{display: flex;}
		.flex1{flex: 1;}
		.container{width: 1100px; margin: auto;}
		.row{padding: 0 40px;}
		.align-left{text-align: left !important;}
		.inline{display: inline;}
		.inline-block{display: inline-block;}
		.uppercase{text-transform: uppercase;}
		.center{text-align: center;}
		.relative{position: relative;}
		.hidden{display: none;}
		.padmobile{padding: 0 15px;}
		.white{color: #fff;}
		.font12{font-size: 12px;}
		.font14{font-size: 14px;}
		.font20{font-size: 20px;}
		.font22{font-size: 22px;}
		.font16{font-size: 16px;}
		.font18{font-size: 18px;}
		.font26{font-size: 26px;}
		.font28{font-size: 28px;}
		.font36{font-size: 36px;}
		.martop10{margin-top: 10px !important;}
		.martop20{margin-top: 20px;}
		.martop100{margin-top: 100px;}
		.marright5{margin-right: 5px;}
		.marleft5{margin-left: 5px;}
		.marbot5{margin-bottom: 5px;}
		.marbot10{margin-bottom: 10px;}
		.marbot20{margin-bottom: 20px;}
		.marbot15{margin-bottom: 15px;}
		.marbot25{margin-bottom: 25px;}
		.marbot30{margin-bottom: 30px;}
		.marbot50{margin-bottom: 50px;}
		.marbot80{margin-bottom: 80px;}
		.marg015{margin: 0 15px;}
		.marg025{margin: 0 25px;}
		.marg04Per{margin: 0 4%;}
		.marg30{margin: 30px 0;}
		.marg20{margin: 20px 0;}
		.marg40{margin: 40px auto;}
		.padtop5{padding-top: 5px;}
		.padtop30{padding-top: 30px !important;}
		.padtop50{padding-top: 50px !important;}
		.padbot50{padding-bottom: 50px;}
		.padbot80{padding-bottom: 80px;}
		.padding500{padding: 50px 0;}
		.padding700{padding: 70px 0;}
		.siteBlue{color: #2A4494 !important;}
		.siteGrey{color: #848D9C;}
		hr{border: 0; border-top: 1px solid #2A4494;}
		.text-left{text-align: left !important;}
		.text-right{text-align: right !important;}
		.width80{width: 80%;}
		.width90{width: 90% !important;}
		.specialMarg1{margin-right: 20px;}
		.specialMarg2{margin-left: 20px;}
		.pointer{cursor: pointer;}
		
		/* header styling */
		header{position: fixed; padding: 5px; z-index: 99; background: #fff; width: 100%; top: 0;}
		.rightHeader{float: right; padding-right: 20px; color: #2A4494;}
		.nav-links{padding: 0; margin: 0; float: left; padding-top: 15px;}
		.nav-links li{display: inline-block; font-size: 18px; margin-right: 15px; cursor:pointer;}
		.nav-links li:hover{color: rgb(223, 227, 227);}
		#headerCTA{float: right;}
		.customer{margin-right: 10px; margin-bottom: 15px; text-align: right;}

		#hero-image{background: url(../images/ErinHomeHero.png) no-repeat; background-size: cover; width: 100%; height: 55vh;
					margin-top: 110px; padding-top: 7%; background-position: center;}
		.CTA{border-radius: 30px; width: 182px; height: 52px; background: #2A4494; color: #fff; text-align: center;
			 border: 1px solid #2A4494; font-size: 20px; line-height: 24px; font-weight: 700; box-sizing: border-box;
			 padding-top: 13px; cursor: pointer; transition: all 0.5s ease;}
		.CTA:hover, #heroCTA:hover{background: #fff; color: #2A4494;}
		h1{font-size: 28px; margin-bottom: 15px; letter-spacing: 1px; color: #fff;}
		.quote-div{color: #fff; margin-top: 7%; text-align: center; max-width: 450px;}
		#heroCTA{border: 2px solid #fff; background: transparent;}

		.grey-back{background: rgba(248,249,249,1);}
		.icon-title{color: #2A4494; font-size: 18px; font-weight: bold;}
		.iconTop{margin-bottom: 10px;}
		.iconTop3{width: 32px;}
		.playIcon{vertical-align: middle; margin-right: 5px;}
		.firstBoxes{box-shadow: 0 0 20px 0 rgba(0,0,0,0.5); border-radius: 10px; padding: 20px; text-align: center;} 
		.thinBlueLine{border: 0; border-top: 1px solid #2A4494; margin: 20px auto;}
		#topListBox{text-align: left; padding-left: 20px; margin-bottom: 20px;}
		#topListBox li{list-style: disc; margin-bottom: 8px;}
		#frame{margin: 5% auto;width: 80%;height: 700px; display: block;}

		#blueVidBack{background: url(../images/videoBlueBack.png) no-repeat; background-size: cover; width: 100%; height: 55vh;
					 background-position: center; text-align: center; padding-top: 15%;}
		#blueVidBack p{color: #fff; font-size: 36px; font-weight: bold; margin-bottom: 30px;}

		.blue-div{background: #2A4494; color: #fff; font-size: 18px; text-align: left;}
		#img-div1{background: url(../images/DoYouKnow.png) no-repeat; background-size: cover; width: 100%; background-position: center;}
		.blue-title{line-height: 1.5; font-size: 26px; margin-bottom: 30px; font-weight: bold;}
		#img-div2{background: url(../images/womanFridge.png) no-repeat; background-size: cover; width: 100%; background-position: center;}
		#img-div3{background: url(../images/ManyBottles.png) no-repeat; background-size: cover; width: 100%; background-position: center;}
		#nationalImg{max-width: 200px; margin-top: 15px;}
		.blue-container{max-width: 600px; margin: auto; padding: 50px 30px;}
		#whiteBlue{background: #fff; color: #2A4494}
		.iconDiff{width: 60px;}
		.iconDiff2{width: 80px;}
		.max90{max-width: 90%;}

		.blue-drop{width: 25px; margin: 10px auto 15px; display: block;}
		.bottomBlueDiv{font-size: 16px; max-width: 290px; height: 140px; margin-right: 10px;}

		#looserImage{background: url(../images/bottomImage.jpg) no-repeat; background-size: cover; width: 100%; height: 55vh;
					padding-top: 5%; background-position: center;}
		#looserImage h2{color: rgb(24, 31, 111) !important;}
		#bottomOrder{max-width: 400px; padding-top: 10%;}
		#video1, #video2{cursor: pointer;}
		.desktopHide{display: none;}
		.icon-title2{color: #2A4494; margin-bottom: 5px; font-size: 22px; width: 80%; float: right;}
		.minus60Top{margin-top: -60px;}

		/*   video popup css   */
		#overlay{width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0;
				 background-color: rgba(119, 119, 119, 0.7); transition: background-color 300ms ease-in-out;
				 cursor: pointer;  -webkit-animation: fadein .5s; animation: fadein .5s; z-index: 200; display: none; overflow: scroll;
				 padding-top: 15%;}
		#close-overlay{right: -15px; top: -15px; z-index: 100; cursor: pointer; padding: 2px 8px; position:absolute; color: #fff;
					 font-weight: 100; font-size: 20px; background: #000; border: 3px solid #fff; border-radius: 50%;}

		
		footer{background: #191f6b; padding: 120px 0 60px; text-align: center; font-size: 14px; color: #fff;}

		/* mobile styling rules */
		@media only screen and (max-width: 1099px) {
			html,body{font-size: 14px;}
			.container{width: auto;}
			.row{padding: 0 10px;}
			.flex-container, .desktopHide{display: block;}
			.Fright, .Fleft{float: none;}
			.mobileHide, .img-div{display: none;}
			.customer{margin-bottom: 0;}
			header{position: inherit; padding: 0;}
			.grey-box{background: rgba(213,216,221,1); color: #2A4494; padding: 7px 0; margin-bottom: 3px;}
			header img{width: 73px; height: 39px;}
			/* mobile navbar css */
			.mobile-menu{display: none; width: 100%; background: #fff; z-index: 9998; padding: 10px 0; position: absolute; top: 75px;
						 left: 0; padding-left: 15px;}
			.mobile-menu ul li{list-style: none; margin-bottom: 10px;}
			.mobile-menu ul li:last-child{margin-bottom: 0px;}
			.mobile-menu ul li a{display: block; text-align: left; text-decoration: none; color: #2A4494; font-size: 16px;}

			.mobile-menu--open{opacity: 1; display: block;}
			.mobile-nav-button{width: 30px; position: absolute; margin: 2rem; right: -20px; top: 12px; z-index: 9999; cursor: pointer;
							   height: 30px;}
			.mobile-nav-button .mobile-nav-button__line{width: 100%; height: 3px; background: #2A4494; position: relative; transition: .5s ease;}
			.mobile-nav-button .mobile-nav-button__line:nth-of-type(2){margin: 0.4rem 0;}
			.mobile-nav-button .mobile-nav-button__line--1{transform: rotate(45deg); top: 13px; position: absolute;}
			.mobile-nav-button .mobile-nav-button__line--2{display: none;}
			.mobile-nav-button .mobile-nav-button__line--3{transform: rotate(135deg); top: 13px; position: absolute;}
			footer{padding: 90px 15px 30px; font-size: 12px;}
			#hero-image{margin-top: 0; background: url(../images/erin_hero_gradient_mobile.jpg) no-repeat center; background-size: cover;
						padding: 0;}
			.welcome-div h1{color: #fff; font-size: 18px;}
			.welcome-div{text-align: center; margin: auto; padding-top: 25vh;}
			.welcome-div .CTA, .minus60Top, .specialMarg2{margin: auto;}
			#overlay{padding-top: 50%;}
			.white-back{background: #fff;}
			.erin-quote-div{width: 80%; color: #2A4494; text-align: center; margin: 40px auto;}
			.padding500{padding: 30px 0;}
			.padding700{padding: 50px 0;}
			.icon-title{font-size: 16px;}
			.mobileMarg00200{margin: 0 0 20px 0;}
			.marbot80{margin-bottom: 40px;}
			.blue-div{margin: auto !important; font-size: 14px; padding: 20px 15px;}
			.blue-title{max-width: none; line-height: inherit; margin-bottom: 20px;}
			.font36{font-size: 30px;}
			.reason-div img{width: 42px; margin-bottom: 5px;}
			.mobile100{width: 100%;}
			.mobileFont14{font-size: 14px;}
			.mobileFont16{font-size: 16px;}
			.mobileMarbot40{margin-bottom: 40px;}
			.wistia_responsive_padding{height: 150px !important;}
			#looserImage{background: rgba(240,240,242,1); padding: 20% 0; height: auto;}
			#looserImage h2{font-size: 26px;}
			#bottomOrder{padding-top: 20%;}
			#logo-footer{width: 150px;}
			.mobileMartop5{margin-top: 5px;}
			#influencer-div{text-align: center; padding: 15px; width: 85%; margin: auto; right: 5px; top: -200px;}
			#DocZimg{float: none; width: 140px;}
			#DocZdiv{float: none; width: auto;}
			#getDRZ{font-size: 26px; font-weight: bold; color: #2A4494; margin: 10px auto 20px;}
		}

		@media only screen and (max-width: 736px) and (orientation: landscape) {
			#overlay{padding-top: 2%;}
			#hero-image{height: 70vh; padding: 10% 0;}
			.icon-title, .icon-title2{width: 90%;}
			.wistia_responsive_padding{height: 300px !important;}
			#looserImage{padding: 10% 0;}
		}