*{text-decoration: none; margin: 0; padding: 0; max-width: 100%;}
		html,body{margin: 0; padding: 0; font-family: 'Roboto', sans-serif; color: #415066; font-size: 16px;}
		img{border: none;}
		li{list-style-type: none;}
		div{display: block; margin: 0; padding: 0;}
		u{text-decoration: underline;}
		s{text-decoration: line-through;}
		i, .italic{font-style: italic;}
		b, .bold{font-weight: bold;}
		a:link, a:visited, a:active{text-decoration: none; color: inherit;}
		input:focus, select:focus, textarea:focus, button:focus{outline: none;}
		.Fright, .constantFright{float: right;}
		.Fleft, .constantFleft{float: left;}
		.clear{clear: both;}
		.flex-container{display: flex;}
		.container{width: 1100px; margin: auto;}
		.row{padding: 0 40px;}
		.align-left{text-align: left;}
		.inline{display: inline;}
		.inline-block{display: inline-block;}
		.uppercase{text-transform: uppercase;}
		.center{text-align: center;}
		.relative{position: relative;}
		.hidden{display: none;}
		.padmobile{padding: 0 15px;}
		.white{color: #fff;}
		.font12{font-size: 12px;}
		.font14{font-size: 14px;}
		.font20{font-size: 20px;}
		.font18{font-size: 18px;}
		.martop10{margin-top: 10px !important;}
		.martop20{margin-top: 20px;}
		.martop100{margin-top: 100px;}
		.marright5{margin-right: 5px;}
		.marleft5{margin-left: 5px;}
		.marbot20{margin-bottom: 20px;}
		.marbot25{margin-bottom: 25px;}
		.marbot30{margin-bottom: 30px;}
		.marg015{margin: 0 15px;}
		.marg025{margin: 0 25px;}
		.marg30{margin: 30px 0;}
		.marg20{margin: 20px 0;}
		.marg40{margin: 40px auto;}
		.padtop5{padding-top: 5px;}
		.padtop30{padding-top: 30px !important;}
		.siteBlue{color: #2A4494 !important;}
		.siteGrey{color: #848D9C;}
		hr{border: 0; border-top: 1px solid #2A4494;}
		.text-left{text-align: left !important;}
		
		header{padding: 10px; box-shadow: inset 0 -1px 0 0 #2A4494;}
		header img{max-width: 130px;}
		#hero-image{background: url("../images/AquaTru_Cart_hero.jpg") no-repeat center; background-size: cover; width: 100%; height: 65vh;
					margin-bottom: 7%;}
		#hero-image h1{color: #2A4494; font-size: 40px; position: absolute; top: 30vh;}

		h2{color: #2A4494; font-size: 34px; margin-bottom: 30px; font-weight: normal;}
		.column{flex: 1;}
		.bigColumn{flex: 1.5; margin-right: 30px; order: 1;}
		.smallColumn{order: 2;}
		.column47{width: 47%;}
		.column65{width: 65%;}
		.column30{width: 30%;}
		.form-wrapper-grey{border: 1px solid #415066; padding: 40px 20px;}
		h3{color: #465469; font-size: 28px; font-weight: normal; margin-bottom: 20px;}
		input{background: #fff; font-size: 20px; padding: 15px 10px; border-radius: 5px; border: 1px solid #415066; width: 90%;
			  margin: 15px 0 30px;}
		input:active{outline: none;}
		.width48{width: 48%;}
		.width78{width: 78%;}
		.width50{width: 50%;}
		.width84{width: 84%;}
		.width95{width: 95%;}
		.blue-checkbox{width: 28px; height: 28px; color: #fff; font-weight: bold; font-size: 28px; background: #2A4494;
					   float: left; margin-right: 10px; border-radius: 5px; padding: 0px 1px 4px 2px;
					   border: 1px solid  #2A4494;}
		.use{font-size: 24px; color: #2A4494;}
		.specialHR{position: absolute; width: 29%; top: 15px;}
		.leftHR{left: 0}
		.rightHR{right: 0}
		.outerCircle{width: 41px; height: 41px; display: inline-block; margin-right: 20px; border: 1px solid #2A4494; vertical-align: 12px;
					 border-radius: 50%; cursor: pointer;}
		.innerCircle{width: 31px; height: 31px; border-radius: 50%; background: #2A4494; margin: 5px auto 0;}
		.price{float: right; color: #2A4494; font-size: 16px; padding-top: 55px;}
		.summary-image{width: 140px; height: 94px; display: inline-block; margin-top: 10px;}
		.quantity{color: #2A4494; text-align: center; display: inline-block; margin-left: 15px; vertical-align: 30px;}
		.quantityBox{width: 82px; height: 36px; border: 1px solid #2A4494; border-radius: 5px; box-sizing: border-box; padding-top: 8px; 
					 color: #415066; margin: 10px auto 0; cursor: pointer;}
		.fullHr{margin: 35px 0;}
		#apply{display: inline-block; text-align: center; padding: 16px; background: #2A4494; color: #fff; font-size: 19px;
				letter-spacing: 1px; border-bottom-right-radius: 5px; border-top-right-radius: 5px; vertical-align: 1px; cursor: pointer;}
		#applyInput{width: 70%; border-bottom-right-radius: 0; border-top-right-radius: 0; margin-top: 10px;}
		.total{font-size: 22px; font-weight: bold; margin: 30px 0 40px;}
		.CTA{font-size: 18px; text-align: center; margin: 5px auto 10px; border-radius: 5px; background: #2A4494; 
			 color: #fff; padding: 18px 0; letter-spacing: 1px; font-weight: bold; cursor: pointer;}
		.CTA:hover{opacity: .8;}
		.norton-div{font-size: 16px; float: right; color: #505E72; width: 50%;}
		.nortonIMg{max-width: 180px;}
		.additionalColumn{flex: 1; padding: 40px 20px 20px; border: 1px solid #2A4494; text-align: center; line-height: 1.4;}
		.productTitle{color: #2A4494; font-weight: bold; font-size: 28px; margin: 30px auto 15px;}
		.bottomCTA{width: 72%; float: right;}
		.bottomQuantityBox{width: 100px; height: 60px; font-size: 18px; padding-top: 18px; float: left; margin-top: 6px;}
		.bottomQuantityBox img{width: 20px; margin-left: 3px;}
		.leftBottomColumn{border-right: 0; border-bottom: 0;}
		.rightBottomColumn{border-bottom: 0;}
		.lastColumn{border-right: 0;}
		.tankPhoto{max-width: 360px;}
		#shipping-wrapper{display: none;}

		footer{background: url("../images/waves.png") no-repeat; background-size: cover; padding: 160px 0 60px; text-align: center; 
			   margin-top: 60px; font-size: 14px; color: #fff;}

		@media only screen and (max-width: 1060px) {
			html,body{font-size: 14px;}
			header{box-shadow: none;}
			header img{max-width: 100px}
			#hero-image{height: 34vh; background-position: right;}
			#hero-image h1{display: none;}
			h2{font-size: 28px;}
			h3{font-size: 24px;}
			.container{width: auto;}
			.row{padding: 0 15px;}
			.flex-container{display: block;}
			.Fright, .Fleft{float: none;}
			.mobileHide{display: none;}
			.bigColumn, .marright5{margin: 0;}
			.form-wrapper-grey{padding: 20px 15px;}
			.column47, .width50, .width48{width: 100%;}
			.font20{font-size: 18px;}
			input{margin: 10px 0 15px;}
			.width95, .width78{width: 90%;}
			.tankPhoto{max-width: 230px;}
			.rightBorder{border-right: 1px solid #2A4494;}
			.bottomBorder{border-bottom: 1px solid #2A4494;}
			.nortonIMg{max-width: 130px;}
			.norton-div{font-size: 14px;}
			.martop100{margin-top: 50px;}
			.flex-mobile{display: flex;}
			.mobile50{width: 50%;}
			.mobile78{width: 78%;}
			.summary-image{display: block; margin: auto;}
			.price{padding-top: 30px; font-size: 18px;}
			#applyInput{width: 58%;}
			.outerCircle{height: 31px; width: 31px;}
			.innerCircle{height: 21px; width: 21px;}
			.payPalButton{max-width: 200px;}
			.mobileCenter{text-align: center;}
			.bottomQuantityBox{width: 85px; height: 50px; font-size: 16px; padding-top: 14px;}
			.bottomCTA{width: 60%; font-size: 16px; padding: 14px 0;}
			footer{padding: 90px 30px 30px;font-size: 12px;}
			.footerLogo{width: 150px;}
		}